.container{
   margin: 15px;
}

.space{
   flex: 1 1 auto;
}

.bg{
   background-image: url(/assets/img/imagenes-protected/fondodashboard.png);
   background-size: cover;
   background-repeat: no-repeat;
   height: 850px;
}

.bgl{
   background-color: #332fd0;
  background-image: -webkit-linear-gradient(160deg, #332fd0 0%, #9254c8 100%);
  background-image: -moz-linear-gradient(160deg, #332fd0 0%, #9254c8 100%);
  background-image: -o-linear-gradient(160deg, #332fd0 0%, #9254c8 100%);
  background-image: linear-gradient(160deg, #332fd0 0%, #9254c8 100%);
   border-radius: 0 30px 30px 0;
}

.bglo{
   background-color: #332fd0;
}

.img-l{
   width: 40%;
   width: 40%;
   margin: 0;
}

.mbs{
   margin-bottom: 5px;
   margin-left: 5px;
   display: flex;
   justify-content: center;
   font-family: fredoka one;
   color: white;
   font-family: fredoka one;
   font-weight: 400;
   font-size: 22px;
}

.logto{
   text-transform: lowercase;
}

.logto::first-letter{
   text-transform: uppercase;
}


.bgnav{
   background-color: #332fd0;
background-image: -webkit-linear-gradient(45deg, #332fd0 0%, #e15fed 100%);
background-image: -moz-linear-gradient(45deg, #332fd0 0%, #e15fed 100%);
background-image: -o-linear-gradient(45deg, #332fd0 0%, #e15fed 100%);
background-image: linear-gradient(45deg, #332fd0 0%, #e15fed 100%);
padding-top:10px;
padding-bottom: 10px;
}

.log{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
}

.lish{
   padding-top: 10px;
   padding-bottom: 10px;
   color: white;
   font-family: popinngs;
}

.lish:hover{
   background-color: #a7b3ff;
background-image: -webkit-linear-gradient(67deg, #a7b3ff 0%, #02fff5 100%);
background-image: -moz-linear-gradient(67deg, #a7b3ff 0%, #02fff5 100%);
background-image: -o-linear-gradient(67deg, #a7b3ff 0%, #02fff5 100%);
background-image: linear-gradient(67deg, #a7b3ff 0%, #02fff5 100%);
   transition: 0.2s;
   border-radius: 0 30px 30px 0;
}

.spanfont{
   font-family:  poppins;
   font-weight: 300;
   text-transform: lowercase;
}

.spanfont::first-letter{
   text-transform: uppercase;
}

.icondog{
   width: 70%;
   height: 70%;
   margin-bottom: 12px;
}

.huella{
   color: white;
}
.btnh{
   background-color: #2b2a8787;
}